$logo-size-xs: 45px;
$logo-size-md: 63px;

.header {
  position: relative;
  box-shadow: 0px px-to-rem(4) px-to-rem(13) rgba(124, 103, 255, 0.1);
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 2;
  // height: 74px;

  // Noscript version on mobile
  // @include mq-down(md) {
  //   .no-js & {
  //     position: relative;

  //     &__inner {
  //       flex-wrap: wrap;
  //     }

  //     .nav {
  //       position: static;
  //       transform: none;
  //       background: transparent;
  //       width: 100%;
  //       padding: 0;
  //       margin: 40px 0;
  //     }

  //     .burger {
  //       display: none;
  //     }
  //   }
  // }
  &__container {
    display: flex;
    align-items: center;
    height: px-to-rem(74);

    @include mq-up(rg) {
      height: px-to-rem(82);
    }

    @include mq-up(md) {
      height: px-to-rem(100);
    }
  }

  &__left,
  &__right {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__nav {
    flex: 1;
    display: flex;
  }

  &__left > &__col-inner {
    margin-right: auto;
  }

  &__right > &__col-inner {
    margin-left: auto;
  }

  &__col-inner {
    position: relative;
    z-index: 2;
  }
}

.logo-link {
  display: block;
  font-weight: $font-weight-bold;
  font-size: px-to-rem(12);
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $primary;
  text-decoration: none;
  transition: opacity $transition-time-default $transition-easing-default;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @include mq-up(sm) {
    font-size: px-to-rem(15);
  }
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: $white;
  padding: px-to-rem(110) px-to-rem(45) px-to-rem(62) px-to-rem(74);
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  box-shadow: 0px px-to-rem(4) px-to-rem(13) rgba(124, 103, 255, 0.1);

  &.is-open {
    transform: translateY(0);
  }

  &__list {
    @extend %unstyled-list;
  }

  &__list-item {
    display: block;
    list-style: none;
  }

  &__link {
    display: block;
    font-size: px-to-rem(22);
    font-weight: $font-weight-bold;
    letter-spacing: px-to-rem(1);
    color: $grey;
    text-transform: none;
    text-decoration: none;
    line-height: 2;
    transition: color $transition-time-simple $transition-easing-default;

    &:hover,
    &:focus,
    &.is-active {
      color: $navy;
    }
  }

  @include mq-up(lg) {
    position: static;
    flex: 0 0 auto;
    padding: 0; // Reset
    background-color: transparent; // Reset
    transform: none; // Reset
    box-shadow: none; // Reset

    &__list-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link {
      font-size: px-to-rem(18);
      line-height: 1.6;
      text-align: center;
    }
  }

  @include mq-up(xl) {
    &__list-item {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
}

.btn {
  display: inline-block;
  color: $white;
  background-color: $primary;
  font-size: px-to-rem(13);
  line-height: (14 / 13);
  border-radius: px-to-rem(100);
  text-transform: uppercase;
  text-align: center;
  border: 0 none;
  text-decoration: none;
  transition: background-color $transition-time-default
    $transition-easing-default;
  box-shadow: 0 px-to-rem(4) px-to-rem(13) rgba(124, 103, 255, 0.2);

  padding: px-to-rem(12) px-to-rem(32);

  &--small {
    padding: px-to-rem(7) px-to-rem(14);
  }

  &:hover,
  &:focus {
    background-color: rgba($primary, 0.8);
  }

  @include mq-up(rg) {
    padding: px-to-rem(15) px-to-rem(32);

    &--small {
      padding: px-to-rem(10) px-to-rem(24);
    }
  }

  @include mq-up(md) {
    padding: px-to-rem(18) px-to-rem(32);

    &--small {
      padding: px-to-rem(12) px-to-rem(32);
    }
  }
}

.burger {
  position: relative;
  z-index: 2;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  color: $primary;
  padding: 0;
  margin-left: px-to-rem(12);

  @include mq-up(sm) {
    margin-left: px-to-rem(16);
  }

  @include mq-up(rg) {
    margin-left: px-to-rem(24);
  }

  @include mq-up(md) {
    margin-left: px-to-rem(30);
  }

  @include mq-up(lg) {
    display: none;
  }
}
