.hotels {
  @extend %default-module-spacer;

  &__title {
    @extend %summary-title;
    text-align: left;
  }

  &__text {
    @extend %summary-text;
  }

  &__list {
    margin: 50px 0 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: $font-size-bigger-small;
    line-height: 1.27;
    color: $link-color;
    transition: color $transition-time-simple $transition-easing-default;
    margin: 0 0 50px;

    &:hover,
    &:focus {
      color: $link-hover-color;

      .hotels__image {
        @extend %link-image-hover;
      }
    }
  }

  &__image-wrapper {
    margin-bottom: 25px;
  }

  &__image {
    padding-top: 75%;
  }

  &__name {
    color: $navy;
    margin: 0 0 px-to-rem(8);
    font-size: px-to-rem(22);
    font-weight: $font-weight-bold;
    line-height: 1.6;
    letter-spacing: px-to-rem(1);
  }

  &__description {
    color: $grey;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
  }
}
