.jobs {
  @extend %default-module-spacer;

  &--detailed {
    &#{&} {
      margin-bottom: 50px;

      @include mq-up(lg) {
        margin-bottom: 100px;
      }
    }
  }

  &__title {
    @extend %summary-title;
  }

  &__col {
    @extend %summary-col;
  }

  &__link {
    @extend %summary-link;

    &-title {
      @extend %summary-link-title;
    }

    &-company {
      @extend %summary-link-subtitle;
    }
  }

  &__source {
    @include textSubline;
    text-align: center;
    margin: px-to-rem(15) 0 0;
    width: 100%;

    @include mq-up(rg) {
      margin-top: px-to-rem(20);
    }
  }

  &__source-link {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    margin-left: px-to-rem(16);

    svg {
      fill: $grey;
      height: px-to-rem(24);
      transition: fill $transition-time-simple $transition-easing-default;
    }

    &:hover,
    &:focus {
      svg {
        fill: $navy;
      }
    }
  }
}
