.sponsor-category {
  margin: 0 0 35px;
  flex: 1;
}

@media (min-width: 768px) {
  .sponsor-category {
    margin: 0 0 90px;
  }
}

.sponsor-category h3 {
  @extend %summary-title;

  font-weight: 400;
  margin: 0 0 30px;
  font-size: 22px;
}

.sponsor-category .row {
  justify-content: center;
}

.sponsor-category--detail {
  h3 {
    color: $navy;
  }
}

.sponsor-category__item {
  display: flex;
}
