.contributors {
  margin: 0 0 35px;
  flex: 1;
}

@media (min-width: 768px) {
  .contributors {
    margin: 0 0 90px;
  }
}

.contributors h3 {
  color: $navy;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 1px;
  flex: 0 0 100%;
}

.contributors__item {
  display: flex;
}
