.menu {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    &-item {
      list-style: none;
      flex: 0 0 50%;
    }
  }

  &__link {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: (17 / 14);
    text-align: center;
    letter-spacing: 1.07692px;
    text-transform: uppercase;
    color: $navy;
    text-decoration: none;
  }

  &--main,
  &--social {
    .menu__link {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: (17 / 14);
      text-align: center;
      letter-spacing: 1.07692px;
      text-transform: uppercase;
      color: $navy;
      text-decoration: none;
      padding: 6px 0;
      text-align: left;
      transition: opacity $transition-time-simple $transition-easing-default;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }
}
