.newsletter h3 {
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0 0 20px;
  color: $navy;
}

.newsletter__form {
  position: relative;
}

.newsletter__label {
  @extend %screenreader-only;
}

.newsletter__input {
  background-color: $white;
  border-radius: 25px;
  height: 46px;
  padding: 0 90px 0 22px;
  border: 0;
  width: 100%;
  font-size: 16px;
  color: $navy;
}

.newsletter__submit {
  @include buttonSmall($grey);
  position: absolute;
  top: 4px;
  right: 4px;
  padding-left: 25px;
  padding-right: 25px;

  @include mq-down(sm) {
    top: 9px;
    right: 9px;
  }
}
