.speaker {
  display: block;

  &__link {
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
      .speaker__image {
        filter: grayscale(0%);
      }
    }
  }

  &__image-wrapper {
    margin-bottom: 15px;
  }

  &__image {
    padding-top: 100%;
    border-radius: 100%;
    filter: grayscale(100%);
    transition: filter $transition-time-default $transition-easing-default;
  }

  &__name {
    margin: 0 0 15px;
    font-weight: $font-weight-bold;
    font-size: px-to-rem(16);
    line-height: 1.1;
    text-align: center;
    color: $navy;
    text-shadow: 0px 4px 13px rgba(124, 103, 255, 0.4);
  }

  // TODO: Refactor with variables & cleanup
  &__description {
    margin: 0;
    font-size: px-to-rem(10);
    color: $grey;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
  }

  @include mq-up(rg) {
    &__image-wrapper {
      margin-bottom: 35px;
    }

    &__name {
      font-size: px-to-rem(28);
      margin: 0 0 px-to-rem(22);
    }

    &__description {
      font-size: px-to-rem(13);
    }
  }
}
