@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=3e6daa34-16c5-4972-b73a-b55d6112a194&fontids=5537194,5537202,5537210,5537218,5537226,5537234,5537242,5537250,5537258,5537266,5537291,5537301,5537310,5537320,5537331,5537342,5537352,5537363,5830372,5830380,5830390,5830398");

@font-face {
  font-family: "TT Norms";
  font-weight: 100;
  src: url("/static/fonts/5537194/b99dcc32-52b5-461f-b09b-31bba1263103.woff2")
      format("woff2"),
    url("/static/fonts/5537194/3fc033fb-fdfb-424a-a95d-6fec7ae8eb68.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537202/e3f1120e-fc60-46f1-aaaf-327dc6921e6b.woff2") format("woff2"),
//       url("/static/fonts/5537202/f2776de4-4a1d-400b-8a4d-6d97e6642724.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 200;
  src: url("/static/fonts/5537210/024ec982-c95d-4eed-b1d2-17af14b9f675.woff2")
      format("woff2"),
    url("/static/fonts/5537210/65705d05-270d-4cb5-ba72-9897986c126b.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537218/3b09f055-bc3e-4958-8e74-068fa8ccfdda.woff2") format("woff2"),
//       url("/static/fonts/5537218/2d5270d5-4aee-4a86-be6d-5ac3e45d8ff6.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 300;
  src: url("/static/fonts/5537226/ffb89632-e81d-4cfb-ad5d-a225ad6f3067.woff2")
      format("woff2"),
    url("/static/fonts/5537226/2a066527-0e22-4db7-861d-5ca928ad363c.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537234/4031cd73-7d18-4fec-a70d-23b9358c55a3.woff2") format("woff2"),
//       url("/static/fonts/5537234/a3d16f0a-d166-418e-9fa8-b6fe05a15f4a.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 400;
  src: url("/static/fonts/5537242/4e4a15a5-5f3a-48db-a970-df7108274d92.woff2")
      format("woff2"),
    url("/static/fonts/5537242/c8404df4-5d4a-481e-8c1c-338358900567.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537250/f1fcc99e-b13e-4524-986e-f83e4d8c860f.woff2") format("woff2"),
//       url("/static/fonts/5537250/186e7d7f-498f-4584-b53d-8fa1de5bfafd.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 500;
  src: url("/static/fonts/5537258/e96d873a-22d7-44e5-afe5-3fe947e1fafd.woff2")
      format("woff2"),
    url("/static/fonts/5537258/6fe3f6f7-4149-42ec-b6fb-f6998918b6f7.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537266/0dae515f-0c46-4f2e-a7f2-91f769ca07f3.woff2") format("woff2"),
//       url("/static/fonts/5537266/3d28aecf-f0df-4b76-aaf8-92e2d8fa6e97.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 600;
  src: url("/static/fonts/5830398/985a6537-eca3-46e6-a888-613e7c37017b.woff2")
      format("woff2"),
    url("/static/fonts/5830398/9575613c-3749-4f11-9f99-6e741dfadc48.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms W05 DemiBold Italic";
//     src: url("/static/fonts/5830390/ac8134f3-7a9d-4e23-9cd7-736f32fcd245.woff2") format("woff2"),
//       url("/static/fonts/5830390/7769a207-6d2b-42cb-9acc-70f547802709.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 700;
  src: url("/static/fonts/5537291/bd1c59b1-9a5d-43a1-9f46-4e0e0f434e68.woff2")
      format("woff2"),
    url("/static/fonts/5537291/5d217200-7127-40f0-8723-9f76b38a7342.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537301/d83aa67b-1c76-4aef-b12c-9a0f04e1118b.woff2") format("woff2"),
//       url("/static/fonts/5537301/a131ae19-05d3-4f6a-9c7b-f1447564a080.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 800;
  src: url("/static/fonts/5537310/982c1ee7-210c-46e0-b2d5-fe262a5887de.woff2")
      format("woff2"),
    url("/static/fonts/5537310/0f382b8a-47e1-43e1-8f0a-0c7d9cab6308.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537320/3d257d44-5845-42cd-9444-928ac7b1e471.woff2") format("woff2"),
//       url("/static/fonts/5537320/e101058a-6c78-44bc-b77a-57c8dc7f79de.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 900;
  src: url("/static/fonts/5537331/94db3826-f8ca-4a4f-a488-1e8beb1526b4.woff2")
      format("woff2"),
    url("/static/fonts/5537331/40bb5809-782a-4be0-9d62-c7af348bb6d4.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537342/e512d809-3705-4b14-996d-7b6404db2d94.woff2") format("woff2"),
//       url("/static/fonts/5537342/6fb8028c-44e8-4773-8348-8b811f7d3422.woff") format("woff");
//     font-display: swap;
// }
@font-face {
  font-family: "TT Norms";
  font-weight: 900;
  src: url("/static/fonts/5537352/bf4be7f0-bdce-48ad-a96a-40512aa95572.woff2")
      format("woff2"),
    url("/static/fonts/5537352/7414ba06-2419-4664-93f4-3417138b81c1.woff")
      format("woff");
  font-display: swap;
}
// @font-face{
//     font-family:"TT Norms Italic";
//     src: url("/static/fonts/5537363/2936271b-1853-4448-a1e2-c34f54e42c4d.woff2") format("woff2"),
//       url("/static/fonts/5537363/dd4731e1-8657-4bb1-bfbf-211c876bb786.woff") format("woff");
//     font-display: swap;
// }
