%default-module-spacer {
  margin-top: px-to-rem(60);
  margin-bottom: px-to-rem(60);

  @include mq-up(rg) {
    margin-top: px-to-rem(100);
    margin-bottom: px-to-rem(100);
  }

  @include mq-up(lg) {
    margin-top: px-to-rem(120);
    margin-bottom: px-to-rem(120);
  }

  @include mq-up(xl) {
    margin-top: px-to-rem(140);
    margin-bottom: px-to-rem(140);
  }

  @include mq-up(xxl) {
    margin-top: px-to-rem(160);
    margin-bottom: px-to-rem(160);
  }
}

%unstyled-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

%screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

%summary-title {
  @include title();
  flex: 1;
  font-size: px-to-rem(24);
  line-height: 1.6;
  letter-spacing: 1px;

  @include mq-up(rg) {
    font-size: px-to-rem(28);
  }

  @include mq-up(lg) {
    font-size: px-to-rem(32);
  }

  @include mq-up(xl) {
    font-size: px-to-rem(42);
  }
}

%summary-text {
  color: $grey;
  font-size: px-to-rem(18);
  font-weight: $font-weight-bold;
  line-height: 1.6;
  letter-spacing: px-to-rem(1);

  @include mq-up(md) {
    font-size: px-to-rem(22);
  }
}

%summary-col {
  padding-bottom: 20px;
}

%summary-link {
  position: relative;
  display: flex;
  width: 100%;
  min-height: px-to-rem(120);
  text-decoration: none;
  background: $primary;
  border-radius: px-to-rem(6);
  padding: px-to-rem(19) px-to-rem(20) px-to-rem(17);
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $shadow-purple;
}

%summary-link-title {
  display: block;
  color: $white;
  font-size: px-to-rem(22);
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin-bottom: px-to-rem(6);
}

%summary-link-subtitle {
  display: block;
  color: $white;
  font-size: px-to-rem(13);
  line-height: 1.6;
  opacity: 0.6;
}

// TODO: Remove
%image-skew {
  display: block;
  max-width: 100%;
  transform: rotate(-5deg);
}

// TODO: Remove
%image-background {
  @include gradient;
  background-blend-mode: color;
}

%link-image {
  filter: grayscale(100%);
  opacity: 0.9;
  transition: opacity $transition-time-simple $transition-easing-default,
    transform $transition-time-simple $transition-easing-default,
    filter $transition-time-simple $transition-easing-default;
}

%link-image-hover {
  transform: rotate(0);
  filter: grayscale(0);
  opacity: 1;
}

%blue-link-title {
  font-size: 26px;
  margin: 0 0 15px;
}

%container-reset {
  // Resetting Side Magins of the container, up to 1480px
  margin-right: px-to-rem(-16);
  margin-left: px-to-rem(-16);

  @include mq-up(sm) {
    margin-right: px-to-rem(-32);
    margin-left: px-to-rem(-32);
  }

  @include mq-up(rg) {
    margin-right: px-to-rem(-48);
    margin-left: px-to-rem(-48);
  }

  @include mq-up(md) {
    margin-right: px-to-rem(-64);
    margin-left: px-to-rem(-64);
  }

  @include mq-up(xl) {
    margin-right: px-to-rem(-100);
    margin-left: px-to-rem(-100);
  }
}
